<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyedinV1.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3D7D7C45687122EB0827AB68D7DA8D8778B67B1B</string>
				<key>dateExpires</key>
				<string>05/02/2023</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3D7D7C45687122EB0827AB68D7DA8D8778B67B1B</string>
						<key>dateExpires</key>
						<string>05/02/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58NK93P6VT</string>
						<key>name</key>
						<string>KeyedIn Service Providers LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>58NK93P6VT.app.keyedin.protisanapp</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>58NK93P6VT</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>58NK93P6VT.app.keyedin.protisanapp</string>
				</array>
			</dict>
			<key>name</key>
			<string>KeyedinV1.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e3f79fe7-ac4c-437c-9493-863e36225e4d</string>
				<key>dateExpires</key>
				<string>05/02/2023</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: app.keyedin.protisanapp</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>58NK93P6VT</string>
				<key>name</key>
				<string>KeyedIn Service Providers LTD</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1</string>
		</dict>
	</array>
</dict>
</plist>
